* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
	position: fixed;
	width: 97%;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
	background-blend-mode: screen;
}

li {
    float: right;
	padding-left: 40px;
}

li a {
	font-family: 'Avenir next', regular;
    display: block;
    color: #001E80;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}
li a:hover {
    background-color: #ABEF47;
}

div.dropdown {
  font-family: 'Avenir next', regular;
   display: inline-block;
   z-index: 5;
	color: #001E80;
}

.dropdown-content {
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

h2 {
	font-family: 'Avenir next', regular;
	text-align: center;
	font-size: 200%;
	color: #001E80;
}

p {
  font-family: 'Avenir next', regular;
	padding-left: 50;
	padding-right: 50;
  text-align: center;
  font-size: 150%;
  color: #001E80;
  letter-spacing: 10%;
}

div.p2 {
	font-family: 'Avenir next', regular;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 12pt;
	color: #001E80;
}

/* START PARALLAX /*/

.parallax-inner {
  padding-top: 3%;
  padding-bottom: 5%;
	padding-left: 8%;
	padding-right: 8%;
}

.parallaxLogo {
  background: url("designPrompt/carpet.jpg") repeat fixed 100% ;
	width: 100%;
  background-size: cover;
	padding-top: 15%;
	padding-bttom: 0%;
}

.paralaxText {
	background: "white";
	width: 100%;
}

.parallaxImg {
 background: "white";
	width: 100%;
}


.parallaxUpholstery {
  background: url("designPrompt/upholstery.jpg") repeat fixed 100%;
  background-size: cover;
	padding-top: 30%;
	padding-bttom: 20%;
	width: 100%;
}
/* END PARALLAX /*/

@media screen and (max-width: 450px){
  .textBox {
    width: 100%;
	}}